html {
    scroll-behavior: smooth;
}


h2 {
    color: #80bfff;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: capitalize;
}

.dropdown-content {
    display: none;
    color: black !important;
    text-align: left !important;
    padding: 5px 0 0 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*SLIDESHOW*/

.aboutImages img {
    padding: 20px 0 0 0;
    width: 650px !important;
    height: 450px !important;
}
/*NAVBAR*/
.navbar {
    margin-bottom: 0;
    background-color: #80bfff !important;
    border: 0;
    font-size: 12px !important;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    text-align: left;
}
.navbar  a  {
    color: yellow;
    text-align: center;
}
.navbar  a:hover {
    transition: all 300ms ease-in-out;
    color: #ff6666;
    background-color: #ff00d7;
}
/*SLIDESHOW*/
.slideshow {
    padding: 56px 0px 0px 0px;
}
/*ABOUT US*/
#aboutUs {
    font-family: 'Montserrat', sans-serif;
}

/*ABOUT*/
.about   {
    text-align: center;
    padding: 20px 0 0 0 !important;
}
.about p {
    text-align: center;
    padding: 50px 0 10px 0;
}
.about i {
    height: 40px;
    width: 40px;
    padding: 5px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #ff9999;
    color: white;
}
.about i:hover {
    height: 60px;
    width: 60px;
    padding: 15px;
    background-color: #80bfff;
}
/*END ABOUT*/
    
#events iframe{
    width:500px;
    height:400pxz;
}
/*MEET OUR TEAM*/
.meetOurTeam {
    padding: 100px;
    background-color: #808080;
}
.meetOurTeam img {
    padding: 10px 50px 10px 50px;
}
.meetOurTeam p, h5 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}
.meetOurTeam p {
    color: #333333;
}
.meetOurTeam i {
    height: 40px;
    width: 40px;
    padding: 5px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #ff9999;
    color: white;
}
.meetOurTeam i:hover {
    height: 60px;
    width: 60px;
    padding: 15px;
    background-color: #80bfff;
}
.meetOurTeam h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 4;
    text-align: center;
    text-transform: capitalize !important;
    color: black;
}
.meetOurTeam h4:hover {
    font-size: 5;
    background-color: #80bfff;
}
/*END MEET OUR TEAM*/

/*PARTNERS*/

.partners {
    padding: 80px 0 0 0;
}
.partners btn btn-outline-primary:hover {
    color: black;
}
.panel {
    width: 400px;
    margin: 40px;
    border-style: solid;
}
.panel btn:hover {
    background-color: #80bfff;
}

.panel-head {
    background-color: #80bfff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.panel-head h4 {
    color: white;
    font-size: 40px;
    text-align: center;
}

.panel p {
    padding: 15px;    
}

.panel-footer {
    background-color: #cccccc;
    padding: 10px 0 10px 0;
}

.verticalLine {
    border-left: thick solid black;
}


#creditCardPayment {
    padding: 1000px 0 0 0;
}

.adopt {
    padding-top:55px;
}

.volunteer {
    padding:70px 0px 0px 15px;
    
}

.pet1 {
    width:300px;
    text-align:center;
}

.heading {
    margin: 0 auto;
}

 
/*MEET OUR TEAM*/

#footerButton {
    background-color: #80bfff;
}

#footerButton:hover {
    background-color: #ff00d7;
}

.footer {
    text-align: center;
}
