

.dropdown-content {
    position: absolute !important;
    background-color: gray !important;
}
.dropdown-content a {
    text-align: center !important;
    color: white !important;
    float: none !important;
    display: block;
}
.dropdown-content a:hover {
    color: black !important;
    background-color: #ff00d7;
}
#nav  a  {
    padding-right: 10px !important;
    padding-left: 10px !important;
    color: #1a1a1a;
    text-align: center;
}
        #nav  a:hover {
            transition: all 300ms ease-in-out !important;
            color: #1a1a1a ;
            background-color: #ff00d7 !important;
        }
        #HFBF  a  {
            padding-right: 10px !important;
            padding-left: 10px !important;
            color: #1a1a1a;
            text-align: center;
        }
        #HFBF  a:hover {
            transition: all 300ms ease-in-out !important;
            color: #1a1a1a ;
            background-color: #ff00d7 !important;
        }

html {
    scroll-behavior: smooth;
}
h2 {
    color: #80bfff;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: capitalize;
    font-weight: bold !important;
}



.dropdown:hover .dropdown-content {
    display: block;
}

/*SLIDESHOW*/

.aboutImages img {
    height: 750px !important;
}
/*NAVBAR*/
.navbar {
    margin-bottom: 0;
    background-color: #80bfff !important;
    border: 0;
    font-size: 20px !important;
    font-weight: bold;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    text-align: left;
    -webkit-box-shadow: 0px 0 5px 0px #888;
          box-shadow: 0px 0 5px 0px #888;
}
#Nav  a  {
    padding-right: 10px !important;
    padding-left: 10px !important;
    color: #1a1a1a;
    text-align: center;
}
#Nav  a:hover {
    transition: all 300ms ease-in-out !important;
    color: #1a1a1a ;
    background-color: #82A0BC !important;
    border-radius: 4px;
}
.navbarBigButton  a  {
    padding-right: 10px !important;
    padding-left: 10px !important;
    color: #1a1a1a;
    text-align: center;
    border-radius: 4px;
}
.navbarBigButton  a:hover {
    transition: all 300ms ease-in-out !important;
    color: #1a1a1a ;
    background-color: #82A0BC !important;
}
    .dropdown-content {
        position: absolute !important;
        background-color: gray !important;
        display: none;
        color: black !important;
        text-align: center !important;
        border-radius: 4px;
    }
    .dropdown-content a {
        text-align: center !important;
        color: white !important;
        float: none;
        display: block;
    }
    .dropdown-content a:hover {
        color: black !important;
        background-color: #ff00d7 !important;
        transition: all 300ms ease-in-out !important;
    }

/*SLIDESHOW*/
.slideshow {
    padding: 56px 0px 0px 0px;
}
/*ABOUT US*/
#aboutUs {
    font-family: 'Montserrat', sans-serif;
}

/*ABOUT*/
.about   {
    background-color: #e6e6e6;
    text-align: center;
    padding: 20px 0 0 0 !important;
}
.about p {
    font-family: 'Open Sans Condensed', sans-serif !important;
    text-align: center;
    font-size: 25px;
    color: #1a1a1a;
    padding: 0 10em;
}
.about i {
    height: 40px;
    width: 40px;
    padding: 5px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #F78A6F;
    color: white;
}
.about i:hover {
    height: 60px;
    width: 60px;
    padding: 15px;
    background-color: #80bfff;
}
/*END ABOUT*/
    
#events iframe{
    width:500px;
    height:400px;
}
/*MEET OUR TEAM*/
.meetOurTeam {
    padding: 78px;
    background-color: #e6e6e6;
}

.meetOurTeam .teamPhoto {
    position: relative;
    width: 300px;
    height: 300px;
    background-size: 100%;
    transition: 1.0s;
}
.meetOurTeam .teamPhoto:hover {
    background-size: 105%;
}
.meetOurTeam .teamPhoto:after {
    position: absolute;
    top: 90%;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    word-wrap: break-word;
    content:attr(data-text);
    transition: 1.0s;
    color: #fff;
    padding: 0 8px;
    background-color: rgba(0, 0, 0, 0.6);
}

.meetOurTeam .teamPhoto:hover:after {
    opacity: 1;
    top: 0;
    padding: 8px;
}
.teamPhoto:first-line {
    color: #80bfff;
    font-weight: bold;
    font-size: 18px;
}

.meetOurTeam  h5 {
    text-align: center !important;
    font-family: 'Open Sans Condensed', sans-serif;
}

.meetOurTeam p {
    color: white;
    text-align: center !important;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0 0 0 25px;
}

.meetOurTeam h4 {
    font-size: 21px;
    color: #ff00d7 !important;
    font-family: 'Oswald', sans-serif;
    padding: 0 0 0 20px;
    text-transform: capitalize !important;
}
/*END MEET OUR TEAM*/

/*PARTNERS*/

.partners {
    padding: 80px 0 27px 0;
}
.btn {
    color: black;
}

 .btn:hover {
    background-color: #80bfff;
    color: white;
}






#creditCardPayment {
    padding: 1000px 0 0 0;
}


.volunteer {
    padding:70px 0px 0px 15px;
    
}

.pet1 {
    width:300px;
    text-align:center;
}

.heading {
    margin: 0 auto;
}
/*SERVICES PANELS*/

.panel {
    border: 1px solid #82A0BC;
    border-radius: 1%;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2) !important;
}

.panel-heading {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    background-color: #80bfff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.panel-heading h4 {
    color: white;
    font-size: 33px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.panel-body img{
    width: 250px !important;
    height: 250px !important;
    padding: 10px;
}

.panel p {
    padding: 15px;   
    color: black;
    font-weight: normal;
}

.panel-footer {
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    padding: 10px 0 10px 0;
    background-color: #cccccc;
    
}





/*MORE INFORMATION*/
.footer {
    padding-bottom: 0px;
    background-color: #262626;
    text-align: center;
}
.footer p {
    color: white;
    font-weight: bold;
}

.iconsForFooter i {
    height: 40px;
    width: 40px;
    color: #F78A6F;
    padding: 0 0 15px 0;
    opacity: .75;
}
.iconsForFooter i:hover {
    opacity: 1;
}
.footer .btn {
    background-color: #F78A6F;
    color: black;
    border-color: transparent !important;
}

.footer .btn:hover {
    background-color: #80bfff;
    color: white;
    transition: all 300ms ease-in-out !important;
}

 .followUp i {
    height: 40px;
    width: 40px;
    padding: 5px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #F78A6F;
    color: white;
}
 .followUp i:hover {
    transition: all 300ms ease-in-out;
    height: 60px;
    width: 60px;
    padding: 15px;
    background-color: #80bfff;
 }
 
#getInvolved h4{
    padding-bottom: 20px;
}

#getInvolved .heading{
    padding-top:20px;
}

.wrapper-dropdown {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 200px;
    padding: 10px;
    margin: 0 auto;

    /* Styles */
    background: #9bc7de;
    color: #fff;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: bold;
}
.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;    
}.wrapper-dropdown-1 .dropdown {
	/* Size & position */
    position: absolute;
    top: 100%;
    left: 0; /* Size */
    right: 0; /* Size */

    /* Styles */
    background: #fff;
    font-weight: normal; /* Overwrites previous font-weight: bold; */

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}.wrapper-dropdown-1 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #9e9e9e;
    padding: 10px 20px;
}

/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover a {
    background: #f3f8f8;
}/* Active state */
.wrapper-dropdown-1.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown-1.active:after {
    border-color: #9bc7de transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

.wrapper-dropdown-1.active {
  background: #9bc7de;
  background: linear-gradient(to right, #9bc7de 0%, #9bc7de 78%, #ffffff 78%, #ffffff 100%);
}	


/*Color Scheme:
#80BFFF
#82A0BC
#F78A6F
#F78A6F
*/