

.dropdown-content {
            position: absolute !important;
            background-color: gray !important;
        }
        .dropdown-content a {
            text-align: center !important;
            color: white !important;
            float: none !important;
            display: block;
        }
        .dropdown-content a:hover {
            color: black !important;
            background-color: #ff00d7;
        }
        #nav  a  {
    padding-right: 10px !important;
    padding-left: 10px !important;
    color: #1a1a1a;
    text-align: center;
}
#nav  a:hover {
    transition: all 300ms ease-in-out !important;
    color: #1a1a1a ;
    background-color: #ff00d7 !important;
}
html {
    scroll-behavior: smooth;
}


h2 {
    color: #80bfff;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: capitalize;
}

.dropdown-content {
    display: none;
    color: black !important;
    text-align: center !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*SLIDESHOW*/

.aboutImages img {
    height: 750px !important;
}
/*NAVBAR*/
.navbar {
    margin-bottom: 0;
    background-color: #80bfff !important;
    border: 0;
    font-size: 20px !important;
    font-weight: bold;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    text-align: left;
}
#Nav  a  {
    padding-right: 10px !important;
    padding-left: 10px !important;
    color: #1a1a1a;
    text-align: center;
}
#Nav  a:hover {
    transition: all 300ms ease-in-out !important;
    color: #1a1a1a ;
    background-color: #ff00d7 !important;
}
    .dropdown-content {
        position: absolute !important;
        background-color: gray;
    }
    .dropdown-content a {
        text-align: center !important;
        color: white !important;
        float: none;
        display: block;
    }
    .dropdown-content a:hover {
        color: black !important;
        background-color: #ff00d7 !important;
        transition: all 300ms ease-in-out !important;
    }

/*SLIDESHOW*/
.slideshow {
    padding: 56px 0px 0px 0px;
}
/*ABOUT US*/
#aboutUs {
    font-family: 'Montserrat', sans-serif;
}

/*ABOUT*/
.about   {
    text-align: center;
    padding: 20px 0 0 0 !important;
}
.about p {
    font-family: 'Open Sans Condensed', sans-serif !important;
    text-align: center;
    font-size: 25px;
    color: #1a1a1a;
    padding: 50px 0 10px 0;
}
.about i {
    height: 40px;
    width: 40px;
    padding: 5px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #ff00d7;
    color: white;
}
.about i:hover {
    height: 60px;
    width: 60px;
    padding: 15px;
    background-color: #80bfff;
}
/*END ABOUT*/
    
#events iframe{
    width:500px;
    height:400px;
}
/*MEET OUR TEAM*/
.meetOurTeam {
    padding: 57px;
    background-color: #003366;
}
.meetOurTeam img {
    alignment-baseline: central;
    padding: 10px 50px 10px 50px;
}
.meetOurTeam  h5 {
    text-align: center !important;
    font-family: 'Open Sans Condensed', sans-serif;
}

.meetOurTeam p {
    color: white;
    text-align: center !important;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0 0 0 25px;
}
.meetOurTeam i {
    height: 40px;
    width: 40px;
    padding: 5px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #ff00d7;
    color: white;
}
.meetOurTeam i:hover {
    height: 60px;
    width: 60px;
    padding: 15px;
    background-color: #80bfff;
}
.meetOurTeam h4 {
    font-size: 21px;
    color: #ff00d7 !important;
    font-family: 'Oswald', sans-serif;
    padding: 0 0 0 20px;
    text-transform: capitalize !important;
}
/*END MEET OUR TEAM*/

/*PARTNERS*/

.partners {
    padding: 80px 0 27px 0;
}
.partners .btn {
    background-color: #ff00d7;
    color: black;
}

.partners .btn:hover {
    background-color: #80bfff;
    color: white;
}

.panel {
    width: 400px;
    margin: 40px;
    border-style: solid;
}

.panel-head {
    background-color: #80bfff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.panel-head h4 {
    color: white;
    font-size: 40px;
    text-align: center;
}

.panel p {
    padding: 15px;    
}

.panel-footer {
    background-color: #cccccc;
    padding: 10px 0 10px 0;
}



#creditCardPayment {
    padding: 1000px 0 0 0;
}

#adopt {
    padding-top: 75px;
}

.volunteer {
    padding:70px 0px 0px 15px;
    
}

.pet1 {
    width:300px;
    text-align:center;
}

.heading {
    margin: 0 auto;
}

/*MORE INFORMATION*/
.footer {
    background-color: #003366;
    text-align: center;
}
.footer p {
    color: white;
    font-weight: bold;
}
.footer h2 {
    padding: 100px 0 0 0;
}
.iconsForFooter i {
    height: 40px;
    width: 40px;
    color: #ff00d7;
    padding: 0 0 15px 0;
}
.footer .btn {
    background-color: #ff00d7;
    color: black;
}

.footer .btn:hover {
    background-color: #80bfff;
    color: white;
}

 .followUp i {
    height: 40px;
    width: 40px;
    padding: 5px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #ff00d7;
    color: white;
}
 .followUp i:hover {
    height: 60px;
    width: 60px;
    padding: 15px;
    background-color: #80bfff;
 }
 
#getInvolved h4{
    padding-bottom: 20px;
}

.muney{
    padding:5px;
}